.hero-section {
  position: relative;
  width: 95%;
  height: 480px;
  margin: 60px auto 10px;
  border-radius: 15px; /* Add rounded corners to the container */
  overflow: hidden; /* Ensures the child img doesn't overflow the rounded corners */
}

.hero-slide img {
  width: 90%;
  height: 480px;
  object-fit: cover;
  display: block;
  position: relative; /* 'position: center;' is not valid, use 'position: relative;' or 'absolute' */
  margin-left: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 15px; /* Add rounded corners to the image */
}
