
  .selected-numbers {
    margin-left: 20px; 
    padding: 10px;
    background-color: #ffa500; 
    width: 200px; 
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
  }
  
  .selected-numbers h3, .selected-numbers p {
    margin: 5px 0;
  }
  
  
  .total-money {
    font-weight: bold;
  }

  .clear-money-button {
    background-color: #f44336; 
    color: white;
  }